.cursor {
  cursor: pointer;
}
.box-menu {
  height: 100vh;
  position: fixed;
  overflow-x: inherit;
  /* overflow-x: hidden; */
}
.page-fix {
  /* background-color: aqua; */
  margin-left: 16.5rem;
}
.box-nav {
  z-index: 0;
}

.shadow-menu {
  display: none;
}
.box-btn-hidden-menu {
  display: none;
  background-color: rgb(255, 255, 255);
}
.box-ul {
  /* overflow-y: scroll; */
}
.z-10000{
  z-index: 10000;
}
@media only screen and (max-width: 1200px) {
  .page-fix {
    margin-left: auto;
  }
  .box-menu {
    display: none;
    z-index: 2;
  }
  .shadow-menu {
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 0.5;
  }
  .box-btn-hidden-menu {
    display: block;
    position: absolute;
    right: -1.1rem;
  }
}
